<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Setup Page</title>
    <style>
       #buttonsave ,#passw, #wifiDropdown {
            width: 50%;
            display: none;
        }
	#ether-ch{
         font-style: normal;
	}
    </style>
	<script>
       async function save() {
            const sele = document.querySelector('#section').value;
		    const dropdown = document.querySelector('#wifiDropdown');
            const pass = document.querySelector('#passw');
		    const save = document.querySelector('#buttonsave');
            if (sele == "ethernet") {
                
                    dropdown.style.display = "none"; 
                    pass.style.display="none";
                    save.style.display="none";
                    const ether=document.querySelector('#ether-ch');
                    //if ethernet is selected this will work to check internet is connected
		            const response= await fetch('http://127.0.0.1:9098/network_check');
                    if(!response.ok){
                        ether.innerHTML = 'Check ethernet'
                    throw new Error('failed to connect to eathernet')
                    }
                    else{
                        ether.innerHTML ='Good to Go';
                        console.log('ok')
                    }
 		            const data=await response.json();
                ether.style.display ='block';
 		 
            } else {
                try {
                    //if wifi is selected this will work
                    //it return all the wifi nearby
                    const response = await fetch('http://127.0.0.1:9098/display');
                    if (!response.ok) {
                        throw new Error('Failed to fetch available networks.');
                    }
                    const data = await response.json();
                    
                    dropdown.innerHTML = ''; // Clear previous options
                    data.forEach(ssid => {
                        const option = document.createElement('option');
                        option.value = ssid;
                        option.textContent = ssid;
                        dropdown.appendChild(option);
                    });
                    dropdown.style.display = "block"; // Show the dropdown
		            pass.style.display="block";
		            save.style.display="block";
                } catch (error) {
                    console.error(error.message);
                }
            }
        }
        async function connect(event){
            event.preventDefault();
            const dropdown = document.querySelector('#wifiDropdown');
            const pass = document.querySelector('#passw');
            const username = dropdown.value;
            const password = pass.value;
            console.log(username, password);
            //wifi connecte by usename and password
            const response = await fetch('http://127.0.0.1:9098/testwifi',{
                method: 'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body: JSON.stringify({
                    wifiDropdown: username,
                    passw: password
                }),});
            console.log(response);
            if(!response.ok){
             throw new Error('failed to connect to eathernet')
            }
            if (response.ok){
                const ether=document.querySelector('#ether-ch');
                //check there is connection
                const response= await fetch('http://127.0.0.1:9098/network_check');
                //const port= await fetch('http://127.0.0.1:9098/publicip');
                //display ethernet/wifi is connection
                if(!response.ok){
                    ether.innerHTML = 'Check password'
                throw new Error('failed to connect to eathernet')
                }
                else{
                    ether.innerHTML ='Good to Go';
                    console.log('ok')
                }
                //display port is open or not
                if(!port.ok){
                    //
                }
                else{
                    //
                }
                const data=await response.json();
                ether.style.display ='block';
                console.log('ok tesstwifi')
            }
            const data=await response.json();
            const ether=document.querySelector('#ether-ch');
            ether.style.display ='block';
            ether.innerHTML ='Good to Go';
        }
    </script>
</head>
<body>
    <div>
        <form>
    <select id="section">
        <option value="wifi">Wi-Fi</option>
        <option value="ethernet">Ethernet</option>
    </select>
    <button type="button" onclick="save()">Connect</button>

</form>
<form >
    <select id="wifiDropdown" name="wifiDropdown"></select>
    <input id="passw" type="text"  name="passw" placeholder="your wifi password"/>
	<input type="submit" id="buttonsave" value="submit" onclick="connect(event)"/>
</form>
<a href="http://127.0.0.1:9098/details" id="ether-ch"></a>
</div>
</body>
</html>
